<section>
    <img src="carteles/cartel1.avif" alt="cartel1" />
    <img src="carteles/cartel2.avif" alt="cartel2" />
    <img src="carteles/cartel3.avif" alt="cartel3" />
    <img src="carteles/cartel4.avif" alt="cartel4" />
    <img src="carteles/cartel5.avif" alt="cartel5" />
    <img src="carteles/cartel6.avif" alt="cartel6" />
    <img src="carteles/cartel1.avif" alt="cartel1" />
    <img src="carteles/cartel2.avif" alt="cartel2" />
    <img src="carteles/cartel3.avif" alt="cartel3" />
    <img src="carteles/cartel4.avif" alt="cartel4" />
    <img src="carteles/cartel5.avif" alt="cartel5" />
    <img src="carteles/cartel6.avif" alt="cartel6" />
    <img src="carteles/cartel1.avif" alt="cartel1" />
    <img src="carteles/cartel2.avif" alt="cartel2" />
    <img src="carteles/cartel3.avif" alt="cartel3" />
    <img src="carteles/cartel4.avif" alt="cartel4" />
    <img src="carteles/cartel5.avif" alt="cartel5" />
    <img src="carteles/cartel6.avif" alt="cartel6" />
    <img src="carteles/cartel1.avif" alt="cartel1" />
    <img src="carteles/cartel2.avif" alt="cartel2" />
    <img src="carteles/cartel3.avif" alt="cartel3" />
    <img src="carteles/cartel4.avif" alt="cartel4" />
    <img src="carteles/cartel5.avif" alt="cartel5" />
    <img src="carteles/cartel6.avif" alt="cartel6" />
    <img src="carteles/cartel1.avif" alt="cartel1" />
    <img src="carteles/cartel2.avif" alt="cartel2" />
    <img src="carteles/cartel3.avif" alt="cartel3" />
    <img src="carteles/cartel4.avif" alt="cartel4" />
    <img src="carteles/cartel5.avif" alt="cartel5" />
    <img src="carteles/cartel6.avif" alt="cartel6" />
</section>

<section class="section-2">
    <img src="carteles/cartel1.avif" alt="cartel1" />
    <img src="carteles/cartel2.avif" alt="cartel2" />
    <img src="carteles/cartel3.avif" alt="cartel3" />
    <img src="carteles/cartel4.avif" alt="cartel4" />
    <img src="carteles/cartel5.avif" alt="cartel5" />
    <img src="carteles/cartel6.avif" alt="cartel6" />
    <img src="carteles/cartel1.avif" alt="cartel1" />
    <img src="carteles/cartel2.avif" alt="cartel2" />
    <img src="carteles/cartel3.avif" alt="cartel3" />
    <img src="carteles/cartel4.avif" alt="cartel4" />
    <img src="carteles/cartel5.avif" alt="cartel5" />
    <img src="carteles/cartel6.avif" alt="cartel6" />
    <img src="carteles/cartel1.avif" alt="cartel1" />
    <img src="carteles/cartel2.avif" alt="cartel2" />
    <img src="carteles/cartel3.avif" alt="cartel3" />
    <img src="carteles/cartel4.avif" alt="cartel4" />
    <img src="carteles/cartel5.avif" alt="cartel5" />
    <img src="carteles/cartel6.avif" alt="cartel6" />
    <img src="carteles/cartel1.avif" alt="cartel1" />
    <img src="carteles/cartel2.avif" alt="cartel2" />
    <img src="carteles/cartel3.avif" alt="cartel3" />
    <img src="carteles/cartel4.avif" alt="cartel4" />
    <img src="carteles/cartel5.avif" alt="cartel5" />
    <img src="carteles/cartel6.avif" alt="cartel6" />
    <img src="carteles/cartel1.avif" alt="cartel1" />
    <img src="carteles/cartel2.avif" alt="cartel2" />
    <img src="carteles/cartel3.avif" alt="cartel3" />
    <img src="carteles/cartel4.avif" alt="cartel4" />
    <img src="carteles/cartel5.avif" alt="cartel5" />
    <img src="carteles/cartel6.avif" alt="cartel6" />
</section>

<style>
    section {
        margin-top: 100px;
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
        overflow: hidden;
        margin-bottom: 20px;
    }

    .section-2 {
        margin-top: 20px;
        justify-content: flex-end;
    }

    section img {
        animation: left 90s linear;
        margin-right: 10px;
    }

    .section-2 img {
        animation: right 90s linear;
        margin-right: 10px;
    }

    @keyframes left {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-1000%);
        }
    }

    @keyframes right {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(1000%);
        }
    }

    @media screen and (max-width: 800px) {
        section img {
            width: 180px;
        }
    }
</style>