<footer>
    <span class="items-contact">
        <a href="https://www.instagram.com/javilondj/" target="_blank">
            <img class="items-contact-instagram" src="instagram.avif" alt="instagram" />
        </a>
        <a href="https://api.whatsapp.com/send?phone=34665741578&text=Hola%20Javilon" target="_blank">
            <img class="items-contact-whatsapp" src="whatsapp.avif" alt="whatsapp" />
        </a>
    </span>
</footer>

<style>
    footer {
        padding: 45px;
        padding-top: 100px;
    }
    .items-contact {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;
    }

    .items-contact img {
        width: 40px;
        height: 40px;
        transition: all 0.1s ease-in-out;
    }

    .items-contact img:hover {
        transform: scale(1.1);
    }
</style>