<header>
    <img class="header-background" src="background.jpg" alt="background" />
    <img class="header-logo" src="logo.webp" alt="logo" />
    <div class="frases">
        <span class="frases-item">
            <p>LA MÚSICA QUE TU FIESTA NECESITA</p>
            <p>LA MÚSICA QUE TU FIESTA NECESITA</p>
            <p>LA MÚSICA QUE TU FIESTA NECESITA</p>
            <p>LA MÚSICA QUE TU FIESTA NECESITA</p>
            <p>LA MÚSICA QUE TU FIESTA NECESITA</p>
            <p>LA MÚSICA QUE TU FIESTA NECESITA</p>
            <p>LA MÚSICA QUE TU FIESTA NECESITA</p>
            <p>LA MÚSICA QUE TU FIESTA NECESITA</p>
            <p>LA MÚSICA QUE TU FIESTA NECESITA</p>
            <p>LA MÚSICA QUE TU FIESTA NECESITA</p>
            <p>LA MÚSICA QUE TU FIESTA NECESITA</p>
            <p>LA MÚSICA QUE TU FIESTA NECESITA</p>
        </span>
        <span class="frases-item">
            <p>HAZ QUE TU EVENTO SEA INOLVIDABLE</p>
            <p>HAZ QUE TU EVENTO SEA INOLVIDABLE</p>
            <p>HAZ QUE TU EVENTO SEA INOLVIDABLE</p>
            <p>HAZ QUE TU EVENTO SEA INOLVIDABLE</p>
            <p>HAZ QUE TU EVENTO SEA INOLVIDABLE</p>
            <p>HAZ QUE TU EVENTO SEA INOLVIDABLE</p>
            <p>HAZ QUE TU EVENTO SEA INOLVIDABLE</p>
            <p>HAZ QUE TU EVENTO SEA INOLVIDABLE</p>
            <p>HAZ QUE TU EVENTO SEA INOLVIDABLE</p>
            <p>HAZ QUE TU EVENTO SEA INOLVIDABLE</p>
            <p>HAZ QUE TU EVENTO SEA INOLVIDABLE</p>
            <p>HAZ QUE TU EVENTO SEA INOLVIDABLE</p>
        </span>
        <span class="frases-item">
            <p>CONTÁCTAME AHORA</p>
            <p>CONTÁCTAME AHORA</p>
            <p>CONTÁCTAME AHORA</p>
            <p>CONTÁCTAME AHORA</p>
            <p>CONTÁCTAME AHORA</p>
            <p>CONTÁCTAME AHORA</p>
            <p>CONTÁCTAME AHORA</p>
            <p>CONTÁCTAME AHORA</p>
            <p>CONTÁCTAME AHORA</p>
            <p>CONTÁCTAME AHORA</p>
            <p>CONTÁCTAME AHORA</p>
            <p>CONTÁCTAME AHORA</p>
        </span>
    </div>
    <span class="items-contact">
        <a href="https://www.instagram.com/javilondj/">
            <img class="items-contact-instagram" src="instagram.avif" alt="instagram" />
        </a>
        <a href="https://wa.me/665741578">
            <img class="items-contact-whatsapp" src="whatsapp.avif" alt="whatsapp" />
        </a>
    </span>
</header>

<style>
    header {
        width: 100%;
        height: 300vh;
        position: relative;
        display: flex;
        overflow: hidden;

        display: flex;
        flex-direction: column;
    }

    .header-background {
        height: 300vh;
        width: 100%;
        object-fit: cover;
        position: absolute;
        z-index: -1;
    }

    .header-logo {
        width: 550px;
        height: auto;
        padding: 50px;
    }

    .frases {
        margin-top: 300px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }

    .frases-item {
        width: 100%;
        height: 100px;
        background-color: #000;
        color: #fff;
        font-size: 3.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 35px;
        overflow: hidden;
    }

    .frases-item:first-child p {
        text-wrap: nowrap;
        animation: moveLeft 70s linear infinite;
    }

    .frases-item:nth-child(2) p {
        text-wrap: nowrap;
        animation: moveRight 80s linear infinite;
    }

    .frases-item:last-child p {
        text-wrap: nowrap;
        animation: moveLeft 50s linear infinite;
    }

    @keyframes moveLeft {
        0% {
            transform: translateX(0);
        }
        50% {
            transform: translateX(-500%);
        }
        100% {
            transform: translateX(0);
        }
    }

    @keyframes moveRight {
        0% {
            transform: translateX(0);
        }
        50% {
            transform: translateX(500%);
        }
        100% {
            transform: translateX(0);
        }
    }

    .items-contact {
        margin-left: calc(100dvw - 180px);
        display: flex;
        gap: 10px;
        margin-top: 20px;
    }

    .items-contact img {
        width: 60px;
        height: 60px;
        transition: all 0.1s ease-in-out;
    }

    .items-contact img:hover {
        transform: scale(1.1);
    }
</style>