<section>
    <p>He trabajado en EL CLAUSTRE, CASA ANDALUCÍA, SOM SIS,  VIDA UNA Y EL BAR DE TAMARINDOS, así como en eventos privados, ofreciendo siempre un enfoque personalizado para cada ocasión.</p>
    <div class="logos">
        <img class="esclaustre" src="logos-trabajos/esclaustre.png" alt="esclaustre" />
        <img class="casaandalucia" src="logos-trabajos/casaandalucia.png" alt="casa-andalucia" />
        <img class="somsis" src="logos-trabajos/somsis.png" alt="som-sis" />
        <img class="vidauna" src="logos-trabajos/vidauna.png" alt="vida-una" />
        <img class="tamarindos" src="logos-trabajos/tamarindos.png" alt="bar-de-tamarindos" />
    </div>
</section>

<style>
    section {
        padding: 20px;
        margin-top: 50px;
        padding-bottom: 0;
    }

    section p {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    .logos {
        display: grid;
        grid-template-areas: 
        'esclaustre vidauna tamarindos'
        'casaandalucia vidauna somsis';
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
        height: 300px;
        width: 800px;
        margin-top: 50px;
        margin-bottom: 20px;
        max-width: 100%;
    }

    .logos img {
        width: 100%;
    }

    .esclaustre {
        grid-area: esclaustre;
    }

    .casaandalucia {
        grid-area: casaandalucia;
        margin-top: -50px;
    }

    .somsis {
        grid-area: somsis;
        height: 100px;
        object-fit: contain;
        margin-top: -60px;
    }

    .vidauna {
        grid-area: vidauna;
        height: 200px;
        object-fit: contain;
    }

    .tamarindos {
        grid-area: tamarindos;
    }

    @media screen and (max-width: 1200px) {
        .logos {
            grid-template-areas: 
            'esclaustre vidauna '
            'casaandalucia vidauna'
            'tamarindos somsis';
            ;
            margin-bottom: 100px;
            grid-template-columns: 1fr 1fr;
            width: 700px;
            gap: 0;
        }

        .vidauna {
            height: 150px;
        }         
    }

    @media screen and (max-width: 700px) {
        .logos {
            margin: auto;
            grid-template-areas: 
            'esclaustre'
            'casaandalucia'
            'tamarindos'
            'vidauna'
            'somsis';
            grid-template-columns: 1fr;
            grid-template-rows: repeat(5, 200px);
            width: 500px;
            height: fit-content;
            gap: 0;
            margin-bottom: 0;
            margin-top: 50px;

        }

        .vidauna {
            height: 100px;
            margin-top: -30px;
        }
    }
</style>