<section>
    <video src="videos/video1.mp4" controls></video>
    <video src="videos/video2.mp4" controls></video>
</section>

<style>
    section {
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
        overflow: hidden;
        padding: 20px;
        padding-top: 0;
    }

    section video {
        animation: identifier 90s linear;
        margin-right: 10px;
        width: 300px;
    }


    @media screen and (max-width: 800px) {
        section {
            flex-direction: column;
            gap: 10px;
        }

        section video {
            width: 100%;
        }
    }
</style>